
<div class="row mb-3">
    @if (Pet.View.BodyPicture != null)
    {
        <div class="col-md">
            <ImageFromByteArray 
                Image="Pet.View.BodyPicture.Image" 
                imgClass="img-thumbnail rounded float-right"
                ImageType="svg+xml"
                Width="200"
                Height="200"/>
        </div>
    }
    <div class="col-md">
        <div>Имя: @Pet.Statistic.Name</div>
        <div>День рождения: @Pet.Statistic.BornDate.ToShortDateString()</div>
        <div>Возраст: @(@Pet.Statistic?.Age == 0 ? "Новорожденный" : @Pet.Statistic?.Age)</div>
        <div>Статус голода: @Pet.Statistic.HungerLevel</div>
        <div>Статус жажды: @Pet.Statistic.ThirstyLevel</div>
        <div>Дней счастья: @Pet.Statistic.HappinessDayCount</div>
    </div>
</div>

@code {
    [Parameter] public PetDTO Pet { get; set; }
}