@	using InnoGotchiGameFrontEnd.BLL.Model.Authorize;
@	using InnoGotchiGameFrontEnd.Web.Helpers;
@	using InnoGotchiGameFrontEnd.Web.ViewModels.PageSystem;
@	using InnoGotchiGameFrontEnd.Web.ViewModels.Users;
	using InnoGotchiGameFrontEnd.BLL.Model.Identity;

@inject SecurityToken authModel

@model AllUsersViewModel;

@if (authModel.IsAuthorized)
{
    <div class="row">
        <div class="col-sm-3">
            <form>
                <div class="container">
                    <div class="col ">
                        <label class="form-label">Фильтрация</label>
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <input value="@Model.EmailTemplate" type="text" name="emailTemplate" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Фамилия</label>
                            <input value="@Model.LastNameTemplate" type="text" name="lastNameTemplate" class="form-control" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Сортировка</label>
                            <select class="form-control" name="sortRule">
                                @if (Model.SortRule == "Email")
                                {
                                    <option selected="selected" value="Email">Email</option>
                                }
                                else
                                {
                                    <option value="Email">Email</option>
                                }
                                @if (Model.SortRule == "FirstName")
                                {
                                    <option selected="selected" value="FirstName">Имя</option>
                                }
                                else
                                {
                                    <option value="LastName">Фамилия</option>
                                }
                            </select>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">Обратная сортировка</label>
                            @Html.CheckBox("isDescendingSort", Model.IsDescendingSort, new{@class ="form-check-input"})
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary align-self-center" value="Найти" />
                </div>
            </form>
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="d-flex align-items-center justify-content-start col">
                    @if (Model.Page.PageStatus != PageStatus.FirstPage)
                    {
                        @Html.ActionLink("←Предидущая страница", "Users", "User", new{pageNumber= Model.Page.Number-1}, new{@class="btn btn-info"})
                    }
                    else
                    {
                        <a href="undifinite" class="btn btn-info disabled">←Предидущая страница</a>
                    }
                </div>
                <div class="d-flex align-items-center justify-content-end col">
                    @if (Model.Page.PageStatus != PageStatus.LastPage)
                    {
                        @Html.ActionLink("Следующая страница→", "Users", "User", new{pageNumber= Model.Page.Number+1}, new{@class="btn btn-info"})
                    }
                    else
                    {
                        <a href="undifinite" class="btn btn-info disabled">Следующая страница→</a>
                    }
                </div>
            </div>
            @foreach (var user in Model.Users)
            {
                <div class="row mb-3">
                    @if (user.Picture != null)
                    {
                        <div class="col-2">
                            @Html.ImageFromByteArray(@user.Picture.Image, "png", 150, 150)
                        </div>
                    }
                    <div class="col-6">
                        <div>@user.FirstName @user.LastName</div>
                        <div>@user.Email</div>
                    </div>
                    <div class="col d-flex align-items-center justify-content-end">
                        @if (authModel.User.Id != user.Id)
                        {
                            <div>
                                @Html.ActionLink("Подробнее", "UserPage", "User", new{userId = user.Id}, new{@class = "btn btn-primary"})
                            </div>
                        }
                    </div>
                    <div class="col d-flex align-items-center justify-content-end">
                        @if (authModel.User.Id != user.Id)
                        {
                            @if (!authModel.User.CollaboratersId.Any(x => x == user.Id) && !user.UnconfirmedRequest.Select(x => x.RequestSenderId).Any(x => x == authModel.User.Id))
                            {
                                <div>
                                    <a href="/ColaborationRequest/add?recipientId=@user.Id" class="btn btn-primary">Добавить в друзья</a>
                                </div>
                            }
                            else
                            {
                                <div><p class="btn btn-secondary">Уже в друзьях</p></div>
                            }
                        }
                        else
                        {
                            <div><p class="btn btn-Info">А это вы)))</p></div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <h4>Для просмотра содержимого необходимо авторизироватся</h4>
}