@using InnoGotchiGameFrontEnd.BLL.Model.Authorize;
@using InnoGotchiGameFrontEnd.Web.ViewModels.Users;

@inject AuthorizeModel authModel

@model AllUsersViewModel;

@if (authModel.IsAuthorized)
{
    <div>
        <form>
            <div class="form-group">
                <label>Сортировка</label>
                <select class="form-control" name="sortRule">
                    @if (Model.SortRule == "Email")
                    {
                        <option selected="selected" value="Email">Email</option>
                    }
                    else
                    {
                        <option value="Email">Email</option>
                    }
                    @if (Model.SortRule == "FirstName")
                    {
                        <option selected="selected" value="FirstName">Имя</option>
                    }
                    else
                    {
                        <option value="FirstName">Имя</option>
                    }
                </select>
            </div>
            <div class="form-check">
                <label class="form-check-label">Обратная сортировка</label>
                @Html.CheckBox("isDescendingSort", Model.IsDescendingSort, new{@class ="form-check-input"})
            </div>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
    <div>
        @foreach (var user in Model.Users)
        {
            <div class="border row">
                @if (user.PhotoFileLink != null)
                {
                    <div class="col-2">
                        <img src="@user.PhotoFileLink" height="150" width="150" class="img-thumbnail rounded float-right" />
                    </div>
                }
                <div class="col-6">
                    <div>@user.FirstName @user.LastName</div>
                    <div>@user.Email</div>
                </div>
                <div class="col d-flex align-items-center justify-content-end">
                    @if (authModel.User.Id != user.Id)
                    {
                        @if (!authModel.User.CollaboratedFarms.Select(x => x.OwnerId).Any(x => x == user.Id))
                        {
                            <div>@Html.ActionLink("Добавить в друзья", "Undifinite", "Undifinite", null, new{@class = "btn btn-primary"})</div>
                        }
                        else
                        {
                            <div><p class="btn btn-secondary">Уже в друзьях</p></div>
                        }
                    }
                    else
                    {
                        <div><p class="btn btn-Info">А это вы)))</p></div>
                    }
                </div>
            </div>
        }
    </div>
}
else
{
    <h4>Для просмотра содержимого необходимо авторизироватся</h4>
}